:root {
  --color-button-text: #ffffff;

  --color-primary-100: hsl(228, 20%, 95%);
  --color-primary-200: hsl(240, 20%, 80%);
  --color-primary-300: hsl(240, 20%, 65%);
  --color-primary-400: hsl(240, 20%, 55%);
  --color-primary-500: hsl(240, 20%, 40%);
  --color-primary-600: hsl(240, 20%, 30%);
  --color-primary-700: hsl(240, 20%, 20%);
  --color-primary-800: hsl(240, 19%, 15%);
  --color-primary-900: hsl(240, 22%, 10%);

  --color-primary-modal: rgba(13, 13, 22, 0.8);
}

:root {
  --color-accent: #0a84ff;
  --color-accent-hover: #52a8ff;
  --color-accent-disabled: #51a8ff;
}

* {
  outline: none !important;
  box-sizing: border-box;
  font-family: apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
html,
body {
  background: var(--color-primary-900);
  font-family: -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
body {
  padding: 50px 0px;
}

div.container {
  width: 900px;
  margin: 0px auto;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 2px, rgb(0 0 0 / 8%) 0px 4px 20px;
  background: var(--color-primary-800);
  overflow: hidden;
}
div.container::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 6px;
  color: var(--color-accent);
  color: var(--block-color);
  background: currentColor;
  box-shadow: currentColor 0px 0px 25px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  color: var(--color-accent);
  position: relative;
  border-bottom-color: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(200, 200, 200, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: overlay;
  background-size: 600px;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 1px solid var(--color-primary-500);
}
nav ul li {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
}
nav ul li a {
  font-size: 15px;
  color: var(--color-primary-300);
  padding: 10px 17px;
  white-space: nowrap;
  text-decoration: none;

  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
nav ul li a.active {
  border-bottom: 2px solid var(--color-primary-300);
}

main .form-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  position: relative;
}

main .form-row.last-row {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  background: var(--color-primary-700);
}
main .form-row.last-row dt {
  border-bottom-left-radius: 3px;
  background: var(--color-primary-700);
  border: 0px !important;
}
main .form-row dt,
main .form-row dd {
  display: table-cell;
  vertical-align: top;
  margin: 0;
}
main dt {
  color: var(--color-primary-100);
  border-right: 1px solid transparent;
  background: transparent;
  border-color: var(--color-primary-600);
  text-align: right;
  width: 33%;
  padding: 22px 12px 15px 12px;
}
main dd {
  width: 67%;
  padding: 15px 12px 15px 12px;
}
main dd .form-row-explain {
  margin: 6px 0 0;
  display: block;
  font-style: normal;
  font-size: 12px;
  color: var(--color-primary-300);
}
main dd .form-row-explain a {
  color: var(--color-primary-300);
  font-weight: 600;
  text-decoration: none;
}
main dd .form-row-explain a:hover {
  text-decoration: underline;
}

main label:after {
  content: ':';
  color: var(--color-primary-100);
}
main input,
main textarea,
.ready-bb {
  font-size: 13px;
  color: var(--color-primary-100);
  background: var(--color-primary-800);
  border: 1px solid var(--color-primary-600);
  border-radius: 4px;
  padding: 6px;
  display: block;
  width: 100%;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
main textarea,
.ready-bb {
  resize: vertical;
  min-height: 150px;
}

main .threadtitel textarea,
.ready-bb {
  resize: none;
  min-height: 150px;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-weight: 500;
  height: 100%;
}

main input.short {
  width: 375px;
  display: inline-block;
}
main input.xshort {
  width: 275px;
  display: inline-block;
}
main select {
  background: var(--color-primary-100);
  border: 1px solid var(--color-primary-100);
  width: 60px;
  padding: 5px;
  border-radius: 5px;
}
main select.expand {
  background: var(--color-primary-100);
  border: 1px solid var(--color-primary-100);
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}
main button {
  min-width: 120px;
  cursor: pointer;
  border: 1px solid var(--color-primary-500);
  color: #fff;
  font-weight: 600;
  background: var(--color-primary-600);
  text-align: center;
  padding: 9px 12px;
  border-radius: 4px;
  display: grid;
  place-items: center;
}
main a {
  color: var(--color-primary-100);
  font-weight: 500;
  cursor: pointer;
}

.center {
  text-align: center;
}
.legend {
  font-style: italic;
  margin-top: 30px;
}
footer {
  color: var(--color-primary-300);
  padding: 10px 0px 20px 0px;
  text-align: center;
}
footer a {
  color: var(--color-primary-100);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

h2,
p {
  color: var(--color-primary-100);
  margin: 12px;
}
p {
  margin-top: 0px;
}
.ready-bb {
  margin: 12px;
  width: 876px;
  min-height: 300px;
}
.errormsg {
  background: #ffe4e4;
  border: 1px solid #fd4d4d;
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: #fd4d4d;
  margin: 12px;
}
